@charset "UTF-8";
body{
    background-color: black;
    background-image: url("lotus.jpg");
    background-position: right bottom; /*右下角*/
    background-repeat: no-repeat; /*不重复*/
    background-size: auto; /*原始尺寸*/
    background-attachment: fixed; /*固定*/
}
h1{
    display: inline-block;
    color: aliceblue;
    text-align: center;
}
p:first-of-type{
    text-indent: 0em;
    text-align: center;
}
p{
    color: aliceblue;
    text-indent: 2em;
}
.textbox{
    width: 35%;
    margin: 0 auto; /* 居中 */
}
img[src="moon.jpg"]{
    display: inline-block;
    margin-left: 50px;
}
