<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo11</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <!-- v-if v-else v-text v-html v-for v-show -->
        <!-- <p v-if="seen>=25">Now you see me</p> -->
        <!-- <p v-else>我是else</p> -->
        <!-- <div v-for="(item,index) in shoplist" :key="index">
            <img :src="item.url" alt="">
            <p>{{item.title}}</p>
            <p>{{item.price}}</p>
        </div> -->
        <div style="width: 40px;height: 40px;border: 1px solid red;overflow-y: scroll;"
            @scroll.passive.prevent.once="onScroll">{{num}}
            <br>
        </div>

        <!-- <a  style="font-size: 100px;" @click.once="SetNum"> ... </a>
        <form action="" method="get" @submit.prevent="submit(form)">
            
        </form> -->
    </div>
</body>

</html>
<script>
    Vue.createApp({
        data() {
            return {
                a: 'click',
                name: 'href',
                shoplist: [
                    {
                        id: 1,
                        title: "商品1",
                        url: 'https://img-blog.csdnimg.cn/166e183e84094c44bbc8ad66500cef5b.jpeg#pic_center',
                        price: 10
                    },
                    {
                        id: 2,
                        title: "商品2",
                        url: 'http://gips0.baidu.com/it/u=3602773692,1512483864&fm=3028&app=3028&f=JPEG&fmt=auto?w=960&h=1280',
                        price: 50
                    }
                ],
                url: 'https://img-blog.csdnimg.cn/166e183e84094c44bbc8ad66500cef5b.jpeg#pic_center',
                seen: 20,
                date: new Date(),
                message: 'I am from CHINA',
                isButtonDisabled: true,
                num: 1
            }
        },
        methods: {
            onScroll() {
                this.num++
            },
        }
    }).mount('#app')
</script>